@charset "UTF-8";

body {
  /* background-color: #303030; */
  background-color: #212529;
  /* color: #0282f9; */
  color: white ;
  /* font-family: Arial, Helvetica, sans-serif; */

  /* todo Fare il sito con questi colori */
  /* background-color: #F6EFD3; */
  /* color: #000000; */
}

h1, span {
  /* color: #4548FF ; */
  color: #0282f9;
}

header a, .def-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* navbar */
.nav-index {
  height: 80px;
}

.search-bar{
  width: 38% !important;
}

.btn-nav{
  min-width: 60px;
  height: 30px;
}

/* main */
main{
  /* 100vh - altezza nav-bar - altezza footer */
  /* min-height: calc(100vh - 230px); */
  
  /* 100vh - altezza nav-bar - altezza footer */
  /* min-height: calc(100vh - 260px); */
  /* 100vh - altezza nav-bar - altezza footer - altezza all-links 30px - margin-top di all-links 1rem=16px */
  min-height: calc(100vh - 276px);
}

main img{
  width: 60%;
}

/* all-links */
.all-links{
  height: 30px;
}