<!-- head -->
<th:block th:replace="../templates/frags/head :: head"></th:block>

<body class="d-flex flex-column justify-content-between">

	<!-- header -->
	<th:block th:replace="../templates/frags/header :: header"></th:block>

	<main class="py-5 d-flex flex-column justify-content-center align-items-center">

		<h1 class="mb-4">Pizzas</h1>

		<h2 th:if="${pizzas.size() == 0}">
			Non ci sono pizze...
		</h2>

		<ul>
			<li class="mb-2" th:each="pizza : ${pizzas}" th:object="${pizza}">
				<a class="text-white" th:href="@{/pizzas/{id}(id=*{id})}">
					[[*{name}]] - [[*{price}]]
				</a>
			</li>
		</ul>

		<!-- link di tutte le pagine -->
		<!-- soluzione 1 -->
		<th:block th:replace="../templates/frags/links :: links"></th:block>
		<!-- soluzione 2 -->
		<!-- <th:block th:replace="~{../templates/frags/links :: links}"></th:block> -->
		<!-- soluzione 3 -->
		<!-- <th:block th:replace="~{frags/links :: links}"></th:block> -->

	</main>

	<!-- footer -->
	<th:block th:replace="../templates/frags/footer :: footer"></th:block>

</body>

</html>