<!-- head -->
<th:block th:replace="../templates/frags/head :: head"></th:block>

<body th:object="${pizza}" class="d-flex flex-column justify-content-between">

	<!-- header -->
	<th:block th:replace="../templates/frags/header :: header"></th:block>

	<main class="py-5 d-flex flex-column justify-content-center align-items-center">

		[[*{name}]]
		<br> [[*{description}]]
		<br> [[*{price}]]
		<br> [[*{photo}]]

		<!-- link di tutte le pagine -->
		<!-- soluzione 1 -->
		<th:block th:replace="../templates/frags/links :: links"></th:block>
		<!-- soluzione 2 -->
		<!-- <th:block th:replace="~{../templates/frags/links :: links}"></th:block> -->
		<!-- soluzione 3 -->
		<!-- <th:block th:replace="~{frags/links :: links}"></th:block> -->

	</main>

	<!-- footer -->
	<th:block th:replace="../templates/frags/footer :: footer"></th:block>

</body>

</html>